NEXT_PUBLIC_STREAM_URL_24_96 = "stream/24_96"
NEXT_PUBLIC_STREAM_URL_24_48 = "stream/24_48"
NEXT_PUBLIC_STREAM_URL_16_44 = "stream/16_44"
NEXT_PUBLIC_TITLE = "TechnoAura Live Radio"
NEXT_PUBLIC_NAME = "TechnoAura"
NEXT_PUBLIC_DESC = "Nonstop vibes 24/7"
NEXT_PUBLIC_BACKGROUND_COLOR = "rgb(70,70,70)"
NEXT_PUBLIC_CHANNEL_COLOR = "#101010"
NEXT_PUBLIC_PLAYER_COLOR = "#101010"
